
.ad-outer-bg {
    @apply bg-[#fefde6] shadow-sm p-4 border-b;
}

.ad-inner-bg {
    @apply bg-gray-100 rounded-lg h-24 flex items-center justify-center;
}

.close-btn {
    @apply text-red-700 text-sm absolute right-4 cursor-pointer;
}
