<!-- Header -->
<header class="bg-white shadow-sm lg:px-12 md:px-6 sm:px-8 px-8">
    <div class="flex items-center justify-between lg:px-8 md:px-5 py-3">
        <div class="flex items-center space-x-8">
            <div class="flex items-center space-x-2">
                <a href="#">
                    <img class="header-logo" src="https://www.signupgenius.com/images/logo-signupgenius-color.svg" alt="sug-logo">
                </a>
            </div>
            <nav class="hidden md:flex space-x-6">
                <a href="#" class="header-menu">Products</a>
                <a href="#" class="header-menu">Pricing</a>
                <a href="#" class="header-menu">More</a>
            </nav>
        </div>
        <div class="flex items-center space-x-3">
            <button class="bg-[#f58b1d] hover:bg-orange-400 text-white px-5 py-2 rounded lato-font">
                Create
            </button>
            <button class="border-2 border-[#f58b1d] text-[#f58b1d] hidden sm:flex hover:bg-orange-50 px-5 py-2 rounded lato-font">
                Go Ad Free
            </button>
            <div class="w-10 h-10 bg-blue-400 rounded-full overflow-hidden cursor-pointer">
                <img src="https://ui-avatars.com/api/?name=Darshan+Dalwdai&size=40&background=f58b1d&color=FFFFFF" alt="Profile" class="w-full h-full object-cover">
            </div>
        </div>
    </div>
</header>
