@tailwind base;
@tailwind components;
@tailwind utilities;

// Header styles
header {
    height: 72px;
}

.header-logo {
    width: 153px;
    height: 34px;
}

.header-menu {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.lato-font {
    font-family: Lato;
}

// Sidebar styles
.sidebar-item {
    transition: all 0.3s ease;
}

// Funnel card styles
.feature-card {
    transition: all 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

// In figma shadow is given 25%, we have reduced to 10%
.card-shadow {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.10);
}
